$corDeFundo: #ffffff;
$corTextoPrincipal: #262626;
$corTextoSecundario: #666666;
$corBotaoPrincipal:#1C69D4;
$corBotaoPrincipalHover:#0351BE;
$corBotaoPreto: #000000;
$corBotaoPretoHover: #575757;
$corBotaoSecundario: #25D366;
$corBotaoSecundarioHover: #35AA61;
